@import '_vars';
@import '_fonts';
@media (max-width: 1070px) {
    // === HEADER ===
    .header-navigation {
        &--desktop {
            display: none;
        }
        &--mobile {
            display: block;
        }
    }
    // === GLOBAL ===
    h1 {
        font-size: 40px;
        line-height: 55px;
    }
    // === INTRO ===
    .intro-info__title {
        margin-bottom: 20px;
    }
    .popup--trial {
        .popup {
            &-wrapper {
                background-image: url(../images/default-images/illustration-10.png);
                bottom: 0;
                background-position: bottom;
                padding: 65px 20px;
                max-width: 375px;
                margin: 0 auto;
                height: 876px;
            }
            &-btn {
                top: -5%;
                right: 10px;
            }
            &-title {
                max-width: 212px;
                font-size: 20px;
                line-height: 28px;
            }
            &-tab {
                min-width: 160px;
            }
            &-input {
                max-width: 158px;
            }
        }
        .popup-tab+.popup-tab {
            margin-left: 10px;
        }
        &__item {
            &-radio-text {
                line-height: 22px;
            }
            &-chose {
                margin-bottom: 12px;
            }
            &-personal {
                &-date {
                    margin-bottom: 28px;
                    &-item {
                        margin-bottom: 12px;
                    }
                }
            }
        }
        .popup__item-radio-box+.popup__item-radio-box {
            margin-left: 20px;
        }
        .popup-input+.popup-input {
            margin-left: 14px;
        }
        .btn {
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }
    }
    // === LANGUAGES ===
    .languages {
        &-wrapper {
            padding: 70px 50px 70px;
        }
        &-top {
            margin-bottom: 20px;
        }
        &-item {
            &-text {
                margin-left: 20px;
            }
            &+& {
                margin-left: 30px;
            }
        }
    }
    // === CHOOSE ===
    .choose {
        &__item {
            &:first-child {
                margin-right: 30px;
            }
            &:nth-child(n+3) {
                margin-left: 30px;
            }
        }
    }
}

@media (max-width: 900px) {
    // === INTRO ===
    .intro-info__title {
        margin-top: 50px;
    }
    h1 {
        font-size: 30px;
        line-height: 45px;
    }
    .btn {
        font-size: 15px;
        padding: 15px 30px;
    }
    // === LANGUAGES ===
    .languages {
        &-items {
            flex-basis: 50%;
        }
        &-item {
            &+& {
                margin-left: 0px;
            }
            &:nth-child(n+1) {
                flex-basis: 50%;
            }
            &:nth-child(n+3) {
                margin-top: 30px;
                flex-basis: 50%;
            }
        }
    }
    // === CHOOSE ===
    .choose {
        &__items {
            flex-direction: column;
            align-items: normal;
        }
        &__item {
            &:first-child {
                margin-right: 0px;
                margin-bottom: 40px;
            }
            &:nth-child(n+3) {
                margin-left: 0px;
                margin-top: 30px;
            }
        }
        .title {
            margin-bottom: 20px;
        }
    }
    // === TRUST === 
    .trust {
        &-wrapper {
            padding: 65px 42px;
        }
        &-content {
            //  justify-content: space-between;
        }
    }
    // === RESULT ===
    .result {
        .title {
            font-size: 20px;
            line-height: 28px;
            text-align: left;
            max-width: 233px;
        }
        &-wrapper {
            flex-wrap: nowrap;
        }
        &-slide {
            //  padding: 28px 28px;
            margin-bottom: 0px;
            max-width: 200px;
            &__info {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
}

@media (min-width: 900px) {
    .result-wrapper {
        width: 100%;
        flex-wrap: wrap;
    }
    .result-slide {
        width: 50%;
    }
}

@media (max-width: 760px) {
    // === FOOTER ====
    .footer {
        &__items {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__item {
            &--logo {
                order: -1;
                margin-bottom: $base*12.5;
            }
            &--nav {
                margin-bottom: $base*7.5;
            }
            &--contact {
                text-align: center;
            }
        }
    }
    // === INTRO ===
    .intro {
        &__content {
            flex-direction: column;
        }
        &-info {
            margin-right: 0px;
            margin-bottom: 60px;
            &__title {
                margin-bottom: 40px;
            }
        }
        &-images img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    h1 {
        font-size: 50px;
        line-height: 70px;
    }
    // === POPUP PAYMENT ===
    .popup--payment {
        .popup-wrapper {
            padding: 65px 20px;
            max-width: 375px;
            margin: 0 auto;
            height: 783px;
            background-image: none;
            &::before {
                background-image: url(../images/default-images/illustration-9.png);
                bottom: 0;
                background-position: bottom;
            }
            .btn {
                font-size: 16px;
                line-height: 18px;
                display: flex;
                justify-content: center;
                margin: 0 auto;
            }
        }
    }
    .popup {
        &-title {
            font-size: 20px;
            line-height: 28px;
        }
        &-input {
            max-width: 158px;
            &+& {
                margin-left: 14px;
            }
        }
        &__item {
            &-personal {
                &-date {
                    margin-bottom: 20px;
                    &-item {
                        margin-bottom: 12px;
                    }
                }
            }
            &-privacy {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
    // === TRUST === 
    .trust {
        .title {
            font-size: 25px;
            line-height: 35px;
        }
        &-info__title {
            margin-bottom: 30px;
        }
    }
}

@media(max-width: 700px) {
    // === GLOBAL ===
    .btn {
        font-size: $fs-s;
    }
    // === HEADER ===
    // === FOOTER ====
    .footer {
        &__item {
            &-title {
                font-size: $fs-s;
                line-height: 24px;
                margin-bottom: $base*5;
            }
            &-list {
                font-size: $fs-xs;
                line-height: 22px;
            }
        }
        &__inner {
            padding: $base*15 0px $base*15 0px;
            &-copyright {
                font-size: $fs-x-small;
                line-height: 24px;
            }
        }
        &__copyright {
            max-width: $base*34;
        }
    }
    .popup--call {
        .popup {
            &-wrapper {
                background-image: url(../images/default-images/illustration-11.png);
                bottom: 0;
                background-position: bottom;
                padding: 65px 20px;
                max-width: 375px;
                margin: 0 auto;
                height: 650px;
                &::before {
                    background-image: none;
                }
            }
            &-title {
                font-size: 20px;
                line-height: 28px;
            }
            &__item-personal-date {
                margin-bottom: 30px;
            }
        }
        .btn {
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }
    }
    // === ASSIGNEMENT ===
    .assignment.section-outer {
        padding-top: $base*20;
        padding-bottom: $base*20;
    }
    // === TRUST === 
    .trust {
        &-content {
            flex-direction: column;
            align-items: center;
        }
        &-info {
            margin-bottom: 40px;
            &__button {
                text-align: center;
            }
        }
    }
}

@media (max-width: 600px) {
    // === ASSIGNEMENT ===
    .assignment {
        &-items {
            flex-direction: column;
        }
        &-item {
            &+& {
                margin-top: 60px;
                margin-left: 0px;
            }
        }
    }
}

@media (max-width: 500px) {
    // === LANGUAGES ===
    .languages {
        &-items {
            justify-content: space-between;
            flex-direction: column;
        }
        .title {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 40px;
        }
        &-item {
            max-width: 170px;
            width: 100%;
            img {
                margin-right: auto;
            }
            //  margin-bottom: 30px;
            &+& {
                margin-top: 30px;
                margin-left: 0;
            }
            &-text {
                margin-left: 30px;
            }
        }
        &-wrapper {
            border-radius: 50px;
        }
    }
    // === INTRO ===
    h1 {
        font-size: 40px;
        line-height: 55px;
    }
}

@media (max-width: 400px) {
    // === INTRO ===
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    // === LANGUAGES ===
    .languages {
        .title {
            font-size: 20px;
            line-height: 28px;
        }
    }
    // === ASSIGNEMENT ===
    .assignment {
        &-item__text span {
            font-size: 20px;
            line-height: 28px;
        }
    }
    // === CHOOSE ===
    .choose {
        &__top {
            max-width: 192px;
        }
        .title {
            font-size: 20px;
            line-height: 28px;
        }
    }
}

@media (max-width: 375px) {
    // === LANGUAGES ===
    .languages {
        .title {
            font-size: 16px;
            line-height: 20px;
        }
    }
    // === TRUST === 
    .trust {
        .title {
            font-size: 20px;
            line-height: 28px;
        }
    }
}