@import '_vars';
@import '_fonts';
@media (max-width: 1070px) {
    // === HEADER ===
    .header-navigation {
        &--desktop {
            display: none;
        }
        &--mobile {
            display: block;
        }
    }
    // === GLOBAL ===
    h1 {
        font-size: 40px;
        line-height: 55px;
    }
    // === INTRO ===
    .intro-info__title {
        margin-bottom: 20px;
    }
    .popup--trial.section-inner {
        padding: 0px;
    }
    .popup--trial {
        .tab-list {
            min-width: 160px;
        }
        .popup {
            &-wrapper {
                background-image: url(../images/default-images/illustration-10.png);
                bottom: 0;
                background-position: bottom;
                padding: 65px 12px;
                max-width: 375px;
                margin: 0 auto;
                height: 876px;
            }
            &-btn {
                top: -5%;
                right: 10px;
            }
            &-title {
                max-width: 212px;
                font-size: 20px;
                line-height: 28px;
            }
            // &-tab {
            //     min-width: 160px;
            // }
            &-input {
                max-width: 164px;
            }
        }
        .tab-list+.tab-list {
            margin-left: 15px;
        }
        &__item {
            &-radio-text {
                line-height: 22px;
            }
            &-chose {
                margin-bottom: 12px;
            }
            &-personal {
                &-date {
                    margin-bottom: 28px;
                    &-item {
                        margin-bottom: 12px;
                    }
                }
            }
        }
        .popup__item-radio-box+.popup__item-radio-box {
            margin-left: 20px;
        }
        .popup-input+.popup-input {
            margin-left: 14px;
        }
        .btn {
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }
    }
    // === LANGUAGES ===
    .languages {
        .section-inner {
            padding: 0px;
        }
        &-wrapper {
            padding: 70px 50px 70px;
        }
        &-top {
            margin-bottom: 20px;
        }
        &-item {
            &-text {
                margin-left: 20px;
            }
            &+& {
                margin-left: 30px;
            }
        }
    }
    // === CHOOSE ===
    .choose {
        &__item {
            &:first-child {
                margin-right: 30px;
            }
            &:nth-child(n+3) {
                margin-left: 30px;
            }
        }
    }
    // === IMAGINE ===
    .imagine {
        &-wrapper {
            justify-content: space-between;
        }
        &-photo__inner img {
            top: 8px;
            left: 0px;
        }
    }
    // === INTELLIGIBLY ===
    .intelligibly {
        .section-inner {
            padding: 0px;
        }
        &-wrapper {
            padding: 50px 50px;
        }
    }
    // === WHY-SPEAKY ===
    .why-speaky {
        &__content {
            margin-left: 25px;
            &--right {
                margin-left: 10px;
            }
        }
        &__info {
            flex-basis: 40%;
        }
        &__item-text {
            margin-left: 20px;
        }
    }
    // === DISTRIBUTION ===
    .distribution {
        &__content--children &__content-photo {
            margin-right: 50px;
        }
        &__content-info-item+&__content-info-item {
            margin-left: 10px;
        }
    }
    // === PACKAGES ===
    .packages__content-item-cards--active {
        margin-top: 35%;
    }
    .packages__content {
        justify-content: space-evenly;
    }
}

@media (max-width: 900px) {
    // === INTRO ===
    .intro-info__title {
        margin-top: 50px;
    }
    h1 {
        font-size: 30px;
        line-height: 45px;
    }
    .btn {
        font-size: 15px;
        padding: 15px 30px;
    }
    // === LANGUAGES ===
    .languages {
        &-items {
            flex-basis: 50%;
        }
        &-item {
            &+& {
                margin-left: 0px;
            }
            &:nth-child(n+1) {
                flex-basis: 50%;
            }
            &:nth-child(n+3) {
                margin-top: 30px;
                flex-basis: 50%;
            }
        }
    }
    // === CHOOSE ===
    .choose {
        &__items {
            flex-direction: column;
            align-items: normal;
        }
        &__item {
            &:first-child {
                margin-right: 0px;
                margin-bottom: 40px;
            }
            &:nth-child(n+3) {
                margin-left: 0px;
                margin-top: 30px;
            }
        }
        .title {
            margin-bottom: 20px;
        }
    }
    // === TRUST === 
    .trust {
        &-wrapper {
            padding: 65px 42px;
        }
        &-content {
            //  justify-content: space-between;
        }
    }
    // === RESULT ===
    .result {
        .title {
            font-size: 20px;
            line-height: 28px;
            text-align: left;
            max-width: 233px;
        }
        &-wrapper {
            flex-wrap: nowrap;
        }
        &-slide {
            //  padding: 28px 28px;
            margin-bottom: 0px;
            max-width: 200px;
            &__info {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    // === FOREIGN ===
    .foreign {
        &-wrapper {
            flex-direction: column;
            align-items: center;
        }
        &-photo {
            margin-right: 0px;
            order: 0;
        }
        &-info {
            order: -1;
            margin-bottom: 60px;
            &__item {
                margin-right: 39px;
            }
        }
    }
    // === ARRIVE ===
    .arrive {
        &-items {
            flex-direction: column;
        }
        &-item {
            &:nth-child(odd) {
                padding-right: 0px;
            }
            width: 100%;
        }
    }
    // === IMAGINE ===
    .imagine {
        &-wrapper {
            flex-direction: column;
        }
        &-photo {
            margin-bottom: 57px;
            &__inner img {
                top: 14px;
                left: 15px;
            }
        }
        &-info {
            margin-left: 0px;
        }
    }
    // == ASSIGNMENT ===
    .assignment--adult .assignment-item+.assignment-item {
        margin-left: 35px;
    }
    // === WHY-SPEAKY ===
    .why-speaky {
        &__wrapper {
            flex-direction: column;
        }
        &__content {
            margin-left: 0;
            margin-top: 40px;
        }
        &__item-text {
            margin-left: 40px;
        }
    }
    // === DISTRIBUTION ===
    .distribution {
        &__content {
            &--adult {
                .distribution__content-info {
                    margin-right: 0px;
                }
                .distribution__content-photo {
                    order: 0;
                }
            }
            flex-direction: column;
            align-items: center;
            &--children &-photo {
                margin-right: 0px;
            }
            &--children &-photo-box img {
                top: 28px;
                right: 40px;
            }
            &-photo {
                margin-bottom: 60px;
                max-width: 360px;
                &-box {
                    height: 246px;
                    img {
                        max-width: 285px;
                        max-height: 189px;
                    }
                }
            }
        }
    }
    // === SMART === 
    .smart {
        &__item:nth-child(even)::before {
            left: 18%;
        }
        &__top-items {
            justify-content: space-between;
        }
        .smart__top-item+.smart__top-item {
            margin-left: 45px;
        }
    }
    // === HISTORY ===
    .history__slider-inner .swiper-pagination-bullet {
        padding: 0px 35px 35px;
    }
    // === PACKAGES ===
    .packages__content-item-cards--active {
        margin-top: 40%;
    }
    .price-card {
        margin-bottom: 30px;
    }
    .packages__content-item-cards {
        flex-wrap: wrap;
    }
    .packages__content {
        justify-content: space-around;
    }
}

@media (min-width: 900px) {
    .result-wrapper {
        width: 100%;
        flex-wrap: wrap;
    }
    .result-slide {
        width: 50%;
    }
}

@media (max-width: 760px) {
    // === GLOBAL ===
    .section-outer {
        padding-bottom: $base*25;
    }
    // === ASSIGNMENT ===
    .assignment.section-outer {
        padding-bottom: $base*25;
    }
    .assignment {
        &--adult {
            .assignment-item+.assignment-item {
                margin-left: 0px;
            }
        }
        &-items {
            flex-direction: column;
            align-items: flex-start;
        }
        &-item {
            &+& {
                margin-top: 60px;
                margin-left: 0px;
            }
        }
    }
    // === FOOTER ====
    .footer {
        &__items {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__item {
            &--logo {
                order: -1;
                margin-bottom: $base*12.5;
            }
            &--nav {
                margin-bottom: $base*7.5;
            }
            &--contact {
                text-align: center;
            }
        }
    }
    // === INTRO ===
    .intro.section-outer {
        padding-bottom: $base*25;
    }
    .intro {
        &__content {
            flex-direction: column;
        }
        &-info {
            margin-right: 0px;
            margin-bottom: 60px;
            &__title {
                margin-bottom: 40px;
            }
        }
        &-images img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    h1 {
        font-size: 50px;
        line-height: 70px;
    }
    // === POPUP PAYMENT ===
    .popup--payment {
        .popup-wrapper {
            padding: 65px 20px;
            max-width: 375px;
            margin: 0 auto;
            height: 783px;
            background-image: none;
            &::before {
                background-image: url(../images/default-images/illustration-9.png);
                bottom: 0;
                background-position: bottom;
            }
            .btn {
                font-size: 16px;
                line-height: 18px;
                display: flex;
                justify-content: center;
                margin: 0 auto;
            }
        }
    }
    .popup {
        &-title {
            font-size: 20px;
            line-height: 28px;
        }
        &-input {
            max-width: 158px;
            &+& {
                margin-left: 14px;
            }
        }
        &__item {
            &-personal {
                &-date {
                    margin-bottom: 20px;
                    &-item {
                        margin-bottom: 12px;
                    }
                }
            }
            &-privacy {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
    // === TRUST === 
    .trust {
        .title {
            font-size: 25px;
            line-height: 35px;
        }
        &-info__title {
            margin-bottom: 30px;
        }
    }
    // === INTELLIGIBLY ===
    .intelligibly {
        &-content {
            flex-direction: column;
        }
        &-info {
            margin-bottom: 40px;
        }
    }
    // === SMART ===
    .smart {
        &__top-items {
            justify-content: space-between;
        }
        &__top-item {
            &+& {
                margin-left: 30px;
            }
        }
    }
    // === HISTORY ===
    .history__slider-inner .swiper-pagination-bullet {
        padding: 0px 25px 35px;
    }
    .history__slide-content {
        justify-content: space-around;
    }
    .history__slide-photo {
        margin-right: 0px;
    }
    // === PACKAGES ===
    .price-card {
        &+& {
            margin-left: 0px;
        }
    }
    .packages__content-item-cards--active {
        margin-top: 50%;
        flex-direction: column;
        align-items: center;
    }
    .packages__lesson-text {
        font-size: 14px;
        line-height: 22px;
    }
}

@media(max-width: 700px) {
    // === INTRO ===
    .intro-info {
        &__title {
            margin-bottom: 20px;
        }
    }
    // === GLOBAL ===
    .btn {
        font-size: $fs-s;
    }
    // === HEADER ===
    // === FOOTER ====
    .footer {
        &__item {
            &-title {
                font-size: $fs-s;
                line-height: 24px;
                margin-bottom: $base*5;
            }
            &-list {
                font-size: $fs-xs;
                line-height: 22px;
            }
        }
        &__inner {
            padding: $base*15 0px $base*15 0px;
            &-copyright {
                font-size: $fs-x-small;
                line-height: 24px;
            }
        }
        &__copyright {
            max-width: $base*34;
        }
    }
    .popup--call {
        .popup {
            &-wrapper {
                background-image: url(../images/default-images/illustration-11.png);
                bottom: 0;
                background-position: bottom;
                padding: 65px 20px;
                max-width: 375px;
                margin: 0 auto;
                height: 650px;
                &::before {
                    background-image: none;
                }
            }
            &-title {
                font-size: 20px;
                line-height: 28px;
            }
            &__item-personal-date {
                margin-bottom: 30px;
            }
        }
        .btn {
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }
    }
    // === ASSIGNEMENT ===
    .assignment.section-outer {
        // padding-top: $base*20;
        padding-bottom: $base*20;
    }
    // === TRUST === 
    .trust {
        &-content {
            flex-direction: column;
            align-items: center;
        }
        &-info {
            margin-bottom: 40px;
            &__button {
                text-align: center;
            }
        }
    }
    // === SHALL ===
    .shall {
        &-items {
            flex-wrap: wrap;
        }
        &-item {
            width: 50%;
            margin-bottom: 14px;
        }
    }
    // === SMART ===
    .smart {
        &__top {
            &-item {
                &-letter {
                    font-size: 80px;
                }
                &-title {
                    font-size: 14px;
                }
                &-subtitle {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
        &__content {
            flex-direction: column;
            &-photo {
                margin-right: 0px;
                margin-bottom: 60px;
            }
            &-info {
                max-width: 309px;
            }
        }
    }
    // === HISTORY ===
    .history__slider-pagination.swiper-pagination {
        display: none;
    }
    .history__slide-content {
        margin-top: 0px;
        justify-content: center;
        flex-direction: column;
    }
    .history__slide-info {
        order: -1;
        margin-bottom: 40px;
    }
    // === PACKAGES ===
    .packages__content-item-cards--active {
        margin-top: 25%;
    }
    .packages__content-item-title,
    .packages__content-item-subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        bottom: -55px;
    }
    .packages__content-item-dropdown {
        text-align: center;
        min-width: 200px;
        max-width: 200px;
        padding: 20px;
        &-box::before {
            top: -40px;
        }
    }
    .packages__content-item {
        &--training {
            .packages__content-item-dropdown {
                left: 35px;
                &-box::before {
                    left: 7%;
                }
            }
        }
        &--teaching {}
        &--durability {
            .packages__content-item-dropdown {
                left: -37px;
                &-box::before {
                    left: 52%;
                }
            }
        }
    }
    // === CONTRACT === 
    .contract__box {
        column-count: 1;
    }
    .contract-box__content-title {
        font-size: 16px;
        line-height: 24px;
    }
    .contract-box__сontent-list-item {
        font-size: 14px;
        line-height: 22px;
    }
    .contract-box__content {
        margin-top: 60px;
    }
}

@media (max-width: 600px) {
    // === ARRIVE ===
    .arrive {
        .title {
            font-size: 20px;
            line-height: 28px;
        }
        &-items {}
        &-item {
            &+& {
                margin-top: 15px;
            }
            &__text {
                font-size: 16px;
                line-height: 24px;
                margin-left: 18px;
            }
        }
    }
    // === INTELLIGIBLY ===
    .intelligibly {
        .title {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        .text {
            font-size: 14px;
            line-height: 22px;
        }
        &-wrapper {
            padding: 60px 15px;
        }
    }
    // === WHY-SPEAKY ===
    .why-speaky {
        &__content {
            align-items: normal;
            flex-direction: column;
            &--left {
                margin-bottom: 20px;
                max-width: 239px;
            }
            &--right {
                max-width: 323px;
                margin-left: 0px;
            }
        }
        &__item {
            &+& {
                margin-top: 20px;
            }
        }
    }
    // === SMART ===
    .smart {
        &__top {
            &-items {
                justify-content: center;
                flex-wrap: wrap;
            }
            &-item {
                margin-bottom: 35px;
            }
        }
    }
    // === PACKAGES === 
    .packages__content-item-title,
    .packages__content-item-subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        bottom: -50px;
    }
}

@media (max-width: 500px) {
    // === INTRO ===
    .intro-info {
        &__title {
            margin-bottom: 20px;
        }
        &__text {
            font-size: 20px;
            line-height: 30px;
        }
    }
    // === LANGUAGES ===
    .languages {
        &-items {
            justify-content: space-between;
            flex-direction: column;
        }
        .title {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 40px;
        }
        &-item {
            max-width: 170px;
            width: 100%;
            img {
                margin-right: auto;
            }
            //  margin-bottom: 30px;
            &+& {
                margin-top: 30px;
                margin-left: 0;
            }
            &-text {
                margin-left: 30px;
            }
        }
        &-wrapper {
            border-radius: 50px;
        }
    }
    // === INTRO ===
    h1 {
        font-size: 40px;
        line-height: 55px;
    } // === IMAGINE ===
    .imagine {
        &-photo {
            max-width: 335px;
            margin-bottom: 73px;
            &__inner {
                height: 259px;
                img {
                    max-width: 305px;
                    width: 100%;
                    max-height: 230px;
                }
            }
        }
        .title {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        &-info__text {
            font-size: 14px;
            line-height: 22px;
        }
    }
    // === SMART ===
    .smart {
        .title {
            max-width: 194px;
            font-size: 20px;
            line-height: 28px;
        }
        &__top {
            &-items {
                justify-content: space-around;
                margin-bottom: 60px;
            }
            &-item {
                padding-left: 0px;
                max-width: 90px;
                &-letter {
                    font-size: 70px;
                }
                &-title {
                    font-size: 12px;
                }
                &-subtitle {
                    font-size: 14px;
                    line-height: 20px;
                }
                &+& {
                    margin-left: 10px;
                }
                &-info {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 40px;
                }
            }
        }
        &__content {
            margin-bottom: 80px;
            &-info {
                &-title {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 18px;
                }
                &-text {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
            &-photo {
                max-width: 350px;
                &-inner {
                    height: 268px;
                    img {
                        max-width: 314px;
                        max-height: 217px;
                    }
                }
            }
        }
        &__item {
            &:nth-child(odd) {
                &::before {
                    background-image: none;
                }
            }
            &:nth-child(even) {
                justify-content: flex-start;
                &::before {
                    background-image: none;
                }
            }
            &-number {
                font-size: 80px;
                line-height: 28px;
            }
            &-title {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 16px;
            }
            &-text {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    // === HISTORY ===
    .history {
        .title {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 40px;
        }
        .history__slide-info-title {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        .history__slide-info-text {
            font-size: 16px;
            line-height: 24px;
        }
    }
    // === PACKAGES ===
    .packages__content-item-title,
    .packages__content-item-subtitle {
        font-size: 12px;
        line-height: 18px;
        bottom: -40px;
    }
    .packages__content-item-circle {
        width: 25px;
        height: 25px;
    }
    .packages__content-item-dropdown {
        top: calc(100% + 70px);
    }
    .packages__content {
        justify-content: space-evenly;
    }
    .packages__lesson-text {
        font-size: 12px;
        line-height: 15px;
    }
    .packages__content-item-dropdown {
        min-width: 180px;
        max-width: 180px;
    }
}

@media (max-width: 400px) {
    // === GLOBAL ===
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    // === LANGUAGES ===
    .languages {
        .title {
            font-size: 20px;
            line-height: 28px;
        }
    }
    // === ASSIGNEMENT ===
    .assignment {
        &-item__text span {
            font-size: 20px;
            line-height: 28px;
        }
    }
    // === CHOOSE ===
    .choose {
        &__top {
            max-width: 192px;
        }
        .title {
            font-size: 20px;
            line-height: 28px;
        }
    }
    // === FOREIGN ===
    .foreign {
        .title {
            font-size: 20px;
            line-height: 28px;
        }
        &-info {
            &__item {
                margin-bottom: 30px;
                &-text {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
    // === SHALL ===
    .shall {
        .title {
            margin-bottom: 40px;
            font-size: 20px;
            line-height: 28px;
        }
        &-item {
            &__text {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    // === WHY-SPEAKY ===
    .why-speaky {
        .title {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        .text {
            font-size: 14px;
            line-height: 22px;
        }
        &__item-text {
            font-size: 16px;
            line-height: 24px;
        }
    }
    // === DISTRIBUTION ===
    .distribution {
        .title {
            font-size: 20px;
            line-height: 28px;
        }
        &__content {
            &--adult {
                .distribution__content-photo {
                    order: 0;
                    max-width: 300px;
                    &-box img {
                        top: 30px;
                        left: 25px;
                    }
                }
                .distribution__content {
                    flex-direction: column-reverse;
                }
            }
            &--children {
                .distribution__content-info-item {
                    max-width: 100%;
                }
                .distribution__content-photo-box img {
                    top: 22px;
                    right: 30px;
                }
            }
            &-info {
                &-items {
                    flex-direction: column;
                }
                &-item {
                    &-list {
                        font-size: 14px;
                        line-height: 22px;
                        li+li {
                            margin-top: 12px;
                        }
                    }
                    &-title {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 18px;
                    }
                    &+& {
                        margin-top: 30px;
                        margin-left: 0px;
                    }
                }
            }
            &-photo-box {
                height: 201px;
                img {
                    max-width: 250px;
                    max-height: 171px;
                }
            }
        }
    }
    // === HISTORY ===
    .history__slide-photo-inner {
        height: 285px;
    }
}

@media (max-width: 375px) {
    // === LANGUAGES ===
    .languages {
        .title {
            font-size: 16px;
            line-height: 20px;
        }
    }
    // === TRUST === 
    .trust {
        .title {
            font-size: 20px;
            line-height: 28px;
        }
    }
    // === FOREIGN ===
    .foreign {
        &-photo__inner img {
            top: 13px;
            left: 5px;
        }
    }
    // === SHALL ===
    .shall {
        .title {}
    }
    // === SMART ===
    .smart {
        &__content {
            &-photo {
                max-width: 317px;
                &-inner {
                    height: 223px;
                    img {
                        max-width: 288px;
                        max-height: 204px;
                    }
                }
            }
        }
    }
}