@import '_vars';
@import '_global';
@import '_fonts';
// === HEADER ===
.header.section-outer {
    padding-bottom: 0px;
}

.header {
    &-navigation {
        height: $base*27.5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__logo {
            margin-right: $base*19;
        }
    }
    &__social {
        &-item {
            &+& {
                margin-left: $base*6.75;
            }
            path {
                transition: all $transition;
            }
            &:hover path {
                stroke: $color-primary-50;
            }
        }
    }
    &__menu {
        margin-right: auto;
    }
}

// === MENU ===
.menu {
    &-wrapper {
        display: flex;
        align-items: center;
        &__item {
            &+& {
                margin-left: $base*10.5;
            }
        }
    }
}

.menu-wrapper__item:hover>a {
    color: $color-primary-50;
}

.menu-wrapper {
    &__item {
        &--dropdown {
            position: relative;
            padding-right: $base*4.5;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                background-image: url(../images/icons/down-arrow.svg);
                width: $base*2.5;
                height: $base*1.25;
                top: $base+2;
                right: 0;
                display: flex;
            }
            &:hover {
                .menu-wrapper__dropdown {
                    opacity: 1;
                }
            }
        }
    }
    &__dropdown {
        padding-top: $base*4;
        position: absolute;
        opacity: 0;
        transition: 0.3s linear opacity;
        &-item {
            background-color: $color-primary-400;
            padding: $base*2.5 $base*5;
            position: relative;
            &:first-child {
                border-radius: $base*2.5 $base*2.5 0 0;
                &::before {
                    content: "";
                    position: absolute;
                    top: -$base*1.5;
                    left: 45%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 7.5px 6px 7.5px;
                    border-color: transparent transparent $color-primary-400 transparent;
                }
            }
            &:last-child {
                border-radius: 0px 0px $base*2.5 $base*2.5;
            }
            &-link {
                white-space: nowrap;
                &:hover {
                    color: lighten($color-secondary-200, 25%)
                }
            }
        }
    }
}

// ===/ MENU ===
.header-navigation--mobile {
    padding: $base*10 $base*3.75 0px $base*3.75;
    height: 100%;
    .header-navigation__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $base*4;
    }
    .header-navigation__logo {
        margin-right: 0px;
        img {
            width: $base*48.75;
        }
    }
    .header__menu {
        margin-bottom: $base*10;
    }
    .header-navigation__social {
        text-align: center;
        margin-bottom: $base*10;
        .header__social-item+.header__social-item {
            margin-left: $base*2.5;
        }
    }
    .header-navigation__contact {
        margin: 0 auto;
        text-align: center;
        max-width: $base*40.75;
        .header__contact-list {
            font-weight: $fw-light;
            font-size: $fs-xs;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: $color-secondary-200;
        }
        .header__contact-title {
            font-weight: $fw-medium;
            font-size: $fs-s;
            line-height: 24px;
            margin-bottom: $base*5;
        }
        .header__contact-list-link {
            transition: all $transition;
            &:hover {
                color: $color-secondary-300;
            }
            &+.header__contact-list-link {
                margin-top: $base*3;
            }
        }
        .header__item-list-link--address {
            margin-top: $base*3;
        }
    }
    &.header-navigation {
        align-items: normal;
        transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.menu--mobile {
    .menu-wrapper {
        flex-direction: column;
        font-weight: $fw-medium;
        font-size: $fs-xs;
        line-height: 22px;
        letter-spacing: 0.02em;
    }
    .menu-wrapper__item+.menu-wrapper__item {
        margin-top: $base*5;
        margin-left: 0px;
    }
}

.btn-burger {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    width: 20px;
    height: 15px;
    padding: 0;
    &__line {
        display: block;
        height: 1px;
        width: $base*5;
        background-color: $color-black;
        border-radius: 1px;
        position: relative;
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: $base*5;
            height: 1px;
            background-color: $color-black;
            border-radius: 1px;
            left: 0;
            transition: all $transition;
        }
        &::before {
            top: -6px;
        }
        &::after {
            bottom: -6px;
        }
    }
}

.header-navigation__content {
    display: none;
}

.section-header {
    &::before {
        position: fixed;
        content: "";
        width: 100%;
        height: 100%;
        z-index: 10;
        display: none;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
    }
    &--active {
        &::before {
            display: block;
        }
    }
}

.header-navigation--active {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 10;
    border-radius: 0px 0px $base*17.5 $base*17.5;
    background: $color-secondary-50;
    padding: $base*10 $base*3.75 $base*15 $base*3.75;
    .header-navigation__content {
        display: block;
    }
    .header-navigation {
        align-items: normal;
        margin-top: 0px;
    }
    .btn-burger {
        &__line {
            height: 0;
            &::before {
                top: -1px;
                transform: rotate(45deg);
            }
            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}

.header-navigation--desktop {}

.header-navigation--mobile {
    //  transition: all .3s;
    display: none;
}

// ===/ HEADER ===
// ===  INTRO ===
.intro.section-outer {
    padding-bottom: $base*5;
}

.intro--offline.intro.section-outer {
    padding-bottom: $base*35;
}

.intro {
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &-info {
        flex-basis: 55%;
        margin-right: $base*8.75;
        &__title {
            text-transform: uppercase;
            margin-bottom: $base*10;
            margin-top: $base*17.5;
        }
        &__text {
            font-weight: $fw-medium;
            font-size: 22px;
            line-height: 24px;
            color: $color-secondary-200;
            margin-bottom: $base*10;
        }
    }
    &-images {
        flex-basis: 45%;
        img {
            width: 100%;
            height: 100%;
            max-width: 560px;
            max-height: 560px;
            object-fit: contain;
        }
    }
}

.intro-children-online {
    .intro-info__title {
        max-width: 560px;
    }
}

.intro-children-online.section-outer {
    padding-bottom: $base*35;
}

// === / INTRO ===
// === ASSIGNEMENT ===
.assignment.section-outer {
    padding-bottom: $base*17.5;
}

.assignment {
    &-items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &-item {
        &__images {
            position: relative;
            img {
                max-width: $base*48.25;
                width: 100%;
                max-height: $base*37.5;
                height: 100%;
                border-radius: $base*43.5;
                object-fit: cover;
            }
        }
        &__text {
            position: absolute;
            bottom: 0;
            left: 50%;
            span {
                background: $color-white;
                @include NextArt;
                font-weight: $fw-heavy;
                font-size: $fs-l;
                letter-spacing: 0.02em;
            }
        }
        &+& {
            margin-left: $base*24;
        }
    }
    &--adult {
        .assignment-item {
            &+& {
                margin-left: 30px;
            }
        }
    }
}

.assignment--adult {
    .assignment-item+.assignment-item {
        margin-left: 53px;
    }
}

// === / ASSIGNEMENT ===
// === LANGUAGES ===
.languages {
    &-wrapper {
        background-color: $color-secondary-50;
        border-radius: $base*17.5;
        // padding: $base*18.75 $base*53.25 $base*21.25;
        padding: $base*18.75 $base*22.5 $base*21.25;
    }
    &-top {
        margin-bottom: $base*10;
    }
    &-title {
        &.title {
            text-transform: none;
        }
    }
    &-items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &-item {
        display: flex;
        align-items: center;
        &+& {
            margin-left: $base*10;
        }
        &-images img {
            border-radius: 100%;
            max-width: $base*10;
            min-width: $base*10;
            width: 100%;
            max-height: $base*10;
            //height: 100%;
            object-fit: cover;
        }
        &-text {
            font-size: $fs-m;
            font-weight: $fw-medium;
            margin-left: $base*7.5;
            color: $color-secondary-200;
        }
    }
}

// === / LANGUAGES ===
// ===  WHY-SPEAKY ===
.why-speaky {
    &__wrapper {
        display: flex;
    }
    &__info {
        flex-basis: 27%;
    }
    &__content {
        display: flex;
        align-items: center;
        flex-basis: 60%;
        margin-left: $base*21.5;
        &--right {
            margin-left: $base*19.25;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        &+& {
            margin-top: $base*7.5;
        }
        &-images img {
            border-radius: 50%;
            max-width: $base*10;
            // width: 100%;
            max-height: $base*10;
            height: 100%;
            object-fit: cover;
        }
        &-text {
            margin-left: $base*10;
            font-size: $fs-m;
            line-height: $base*7.5;
        }
    }
}

// === / WHY-SPEAKY ===
// === CHILDREN ===
.distribution {
    &__content {
        display: flex;
        justify-content: center;
        &-photo {
            max-width: $base*125;
            width: 100%;
            &-box {
                background-size: contain;
                background-repeat: no-repeat;
                position: relative;
                height: $base*86.5;
                img {
                    position: absolute;
                    top: $base*10;
                    right: $base*12.5;
                    border: 3px solid $color-primary-400;
                    border-radius: $base*7.5;
                    max-width: $base*88.5;
                    width: 100%;
                    max-height: $base*66.5;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &-info {
            &-title {
                margin-bottom: $base*7.5;
            }
            &-items {
                display: flex;
            }
        }
    }
}

.distribution__content-info-item {
    &+& {
        margin-left: $base*6.5;
    }
    &-title {
        @include Relawey;
        font-weight: $fw-medium;
        font-size: $fs-m;
        line-height: $base*7.5;
        margin-bottom: $base*5;
    }
    &-list {
        font-weight: $fw-light;
        font-size: $fs-s;
        line-height: $base*6.5;
        letter-spacing: 0.02em;
        li {
            padding-left: $base*5;
            position: relative;
            color: $color-secondary-200;
            &::before {
                content: "";
                position: absolute;
                background-image: url(../images/icons/tick.svg);
                background-repeat: no-repeat;
                top: $base*3;
                left: 0;
                width: $base*2.5;
                height: $base*2.5;
            }
        }
        li+li {
            margin-top: $base*3.5;
        }
    }
}

// === ADULT ===
.distribution__content--adult {
    .distribution__content-photo {
        order: 1;
        margin-right: 0px;
        &-box img {
            top: $base*10;
            left: $base*12.5;
        }
    }
    .distribution__content-info {
        margin-right: $base*21;
    }
    .distribution__content-info-item {
        max-width: $base*50;
    }
}

// ===/ ADULT ===
// === CHILDREN ===
.distribution__content--children {
    .distribution__content-photo {
        order: 0;
        margin-right: $base*30;
        &-box img {
            top: $base*10;
            right: $base*12.5;
        }
    }
    .distribution__content-info-item {
        max-width: $base*47.5;
    }
}

// === /CHILDREN ===
// === / CHILDREN ===
// === SMART ===
.smart {
    .section-inner {
        max-width: 876px;
    }
}

.smart__title {
    margin-bottom: $base*7.5;
}

.smart__top {
    &-info {
        font-weight: $fw-regular;
        line-height: $base*6.5;
        letter-spacing: 0.02em;
        color: $color-secondary-200;
        max-width: $base*106.75;
        margin-bottom: $base*11.25;
    }
}

.smart__top-items {
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    margin-bottom: $base*24.25;
}

.smart__top-item {
    position: relative;
    max-width: $base*32.5;
    text-align: center;
    &-letter {
        @include Jost;
        font-weight: $fw-heavy;
        font-size: $fs-xxl-big;
        //line-height: 28px;
        color: #FFECA0;
        letter-spacing: 0.5px;
        z-index: -1;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }
    &-title {
        font-weight: $fw-light;
        font-size: $fs-s;
        line-height: $base*6.5;
        letter-spacing: 0.02em;
        color: $color-primary-50;
    }
    &-subtitle {
        font-weight: $fw-medium;
        font-size: $fs-m;
        line-height: $base*7.5;
        color: $color-black;
    }
    &+& {
        margin-left: $base*22.25;
    }
}

.smart__content {
    display: flex;
    align-items: center;
    margin-bottom: $base*13.25;
    &-photo {
        max-width: $base*98.5;
        width: 100%;
        margin-right: $base*13.25;
        &-inner {
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            height: $base*75.5;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 3px solid $color-primary-400;
                border-radius: $base*7.5;
                max-width: $base*88.5;
                width: 100%;
                max-height: $base*61.25;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-info {
        flex-basis: 50%;
        &-title {
            font-weight: $fw-medium;
            font-size: $fs-m;
            line-height: $base*7.5;
            color: $color-black;
            margin-bottom: $base*6;
        }
        &-text {
            font-weight: $fw-light;
            line-height: $base*6.5;
            letter-spacing: 0.02em;
            color: $color-secondary-200;
        }
    }
}

.smart__item {
    position: relative;
    padding-left: $base*5.5;
    margin-bottom: $base*12.5;
    &::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        top: $base;
        width: $base*32;
        height: $base*22.5;
    }
    &-content {
        position: relative;
    }
    &-number {
        position: absolute;
        top: 3%;
        z-index: -1;
        @include Jost;
        font-weight: $fw-heavy;
        font-size: $fs-xxl-big;
        line-height: $base*7;
        letter-spacing: 0.5px;
        color: $color-primary-400;
    }
    &-title {
        font-weight: $fw-medium;
        font-size: $fs-m;
        line-height: $base*7.5;
        color: $color-secondary-200;
        margin-bottom: $base*5;
        max-width: $base*52.5;
    }
    &-text {
        font-weight: $fw-light;
        line-height: $base*6.5;
        letter-spacing: 0.02em;
        color: $color-black;
        max-width: $base*81;
    }
}

.smart__item:last-child {
    margin-bottom: 0px;
}

.smart__item:nth-child(odd) {
    &::before {
        right: 40%;
        background-image: url(../images/default-images/arrow-right-down.svg);
    }
    .smart__item-number {
        left: -3%;
    }
}

.smart__item:nth-child(even) {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    &::before {
        left: 40%;
        background-image: url(../images/default-images/arrow-left-down.svg);
    }
    .smart__item-number {
        left: -7%;
    }
}

.smart__item:last-child {
    &::before {
        background-image: none;
    }
}

// === /SMART ===
// === HISTORY ===
.history {
    &-inner {
        max-width: $base*226;
        padding: 0px 15px;
    }
}

.history__top {
    margin-bottom: $base*15;
}

.history__slider {
    position: relative;
    height: 100%;
    &-inner {
        // height: 388px;
        .swiper-pagination-bullet {
            background: none;
            padding: 0px $base*12.5 $base*8.75;
            width: auto;
            height: $base*2.5;
            text-align: center;
            position: relative;
            opacity: 1;
            font-size: $fs-m;
            line-height: 21px;
            letter-spacing: 1px;
            &::before {
                content: "";
                position: absolute;
                width: $base*2.5;
                height: $base*2.5;
                border: 2px solid $color-secondary-300;
                bottom: 0;
                left: 48%;
                border-radius: 50%;
                transition: all $transition;
            }
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: $base/2;
                background-color: $color-secondary-300;
                bottom: 3.7px;
                left: 0;
            }
        }
        .swiper-pagination-bullet-active.swiper-pagination-bullet::before {
            background-color: $color-primary-50;
            box-shadow: 0 0 $base*4.5 rgba($color-primary-50, 18);
            border-color: $color-primary-50;
            z-index: 1;
        }
        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0;
        }
    }
    &-container {
        &.swiper-container {
            width: 100%;
            height: 100%;
        }
    }
    &-slide {
        &.swiper-slide {
            // display: flex;
            // justify-content: center;
            // align-items: flex-end;
        }
    }
    &-pagination {
        &.swiper-pagination {
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
            left: 0;
        }
    }
}

.history__slide {
    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $base*15;
    }
    &-photo {
        max-width: 345px;
        width: 100%;
        margin-right: $base*20.5;
        &-inner {
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            height: $base*75.5;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 3px solid $color-secondary-100;
                border-top-left-radius: $base*25;
                border-bottom-right-radius: $base*25;
                max-width: $base*75;
                width: 100%;
                max-height: $base*62.5;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-info {
        max-width: $base*62.5;
        width: 100%;
        &-title {
            @include NextArt;
            font-weight: $fw-heavy;
            font-size: $fs-l;
            line-height: 34px;
            margin-bottom: $base*3.25;
        }
        &-text {
            font-weight: $fw-medium;
            font-size: $fs-m;
            line-height: 30px;
            color: $color-secondary-200;
        }
    }
}

// === / HISTORY ===
// === CHOOSE ===
.choose {
    &__top {
        margin-bottom: $base*7.5;
    }
    &__items {
        display: flex;
        align-items: center;
    }
    &__item {
        span {
            text-transform: uppercase;
        }
        &:nth-child(n+2) {
            padding-left: $base*5;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 100%;
                left: 0;
                top: 0;
                background-color: #FDD503;
            }
        }
        &:nth-child(n+3) {
            margin-left: $base*16.25;
            &::before {
                background-color: #FE7167;
            }
        }
        &:first-child {
            font-weight: $fw-medium;
            font-size: $fs-m;
            line-height: 30px;
            margin-right: $base*21.25;
        }
    }
}

// === / CHOOSE ===
// === TRUST ===
.trust {
    &-wrapper {
        background: #FFFBED;
        border-radius: 70px;
        padding: $base*16.75 $base*16.75;
    }
    &-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &-info {
        max-width: $base*83.5;
        width: 100%;
        // margin-right: $base*45.25;
        &__title {
            margin-bottom: $base*10;
        }
    }
    &-photo {
        max-width: $base*71.5;
        width: 100%;
        &__inner {
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            height: $base*71.5;
            img {
                position: absolute;
                top: $base*8;
                left: $base*7.5;
                border: 3px solid #FDD503;
                max-width: $base*56.25;
                width: 100%;
                max-height: $base*56.25;
                height: 100%;
                object-fit: cover;
                border-bottom-right-radius: 100%;
                border-bottom-left-radius: 100%;
            }
        }
    }
    .title {
        font-size: 30px;
        line-height: 44px;
    }
}

// === / TRUST ===
// === RESULT ===
.result {
    .title {
        text-align: center;
    }
    &-top {
        margin-bottom: $base*10;
    }
}

.result-wrapper {
    display: flex;
    justify-content: center;
}

.result-slide {
    padding: $base*7 $base*9.25;
    background: $color-secondary-50;
    border-radius: $base*7.5;
    max-width: $base*66;
    width: 100%;
    min-height: $base*36;
    height: 100%;
    margin-right: $base*7.25;
    margin-bottom: $base*10;
    &__content {}
    &__img {
        margin-bottom: $base*6.5;
        img {
            border-radius: 100%;
            max-width: $base*10;
            min-width: $base*10;
            width: 100%;
            max-height: $base*10;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    &__info {
        font-weight: $fw-light;
        line-height: 26px;
        color: $color-secondary-200;
    }
}

// === / RESULT ===
// === FOREIGN-LANGUAGES ===
.foreign {
    &-wrapper {
        display: flex;
    }
}

.foreign--offline {
    .foreign-photo__inner img {
        border-radius: 100%;
        border-top-right-radius: 0;
    }
}

.foreign-photo {
    max-width: $base*88.25;
    width: 100%;
    margin-right: $base*18.25;
    &__inner {
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        height: $base*75;
        img {
            position: absolute;
            top: $base*8.25;
            left: $base*6.75;
            border: 3px solid $color-secondary-50;
            max-width: $base*65;
            width: 100%;
            max-height: $base*65;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
            border-top-left-radius: 0;
        }
    }
}

.foreign-info {
    &__title {
        max-width: $base*86.75;
        margin-bottom: $base*10;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        margin-right: $base*25;
        margin-bottom: $base*8.5;
        padding-top: $base*7.5;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            top: 12%;
            left: $base*5;
            border-top: dashed $base/2;
        }
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: $base*4;
            height: $base*4;
            border-radius: 100%;
        }
        &-text {
            font-weight: $fw-medium;
            font-size: $fs-m;
            line-height: 30px;
            color: $color-secondary-200;
        }
        &--green {
            max-width: $base*16.5;
            &::before {
                border-top-color: #236967;
            }
            &::after {
                background-color: #236967;
            }
        }
        &--red {
            max-width: $base*39.5;
            &::before {
                border-top-color: #FE7167;
            }
            &::after {
                background-color: #FE7167;
            }
        }
        &--orange {
            max-width: $base*47.75;
            &::before {
                border-top-color: #FC8B4C;
            }
            &::after {
                background-color: #FC8B4C;
            }
        }
        &--yellow {
            max-width: $base*36;
            &::before {
                border-top-color: #FDD503;
            }
            &::after {
                background-color: #FDD503;
            }
        }
        &--blue {
            max-width: $base*61.25;
            &::before {
                border-top-color: #038192;
            }
            &::after {
                background-color: #038192;
            }
        }
    }
}

// === / FOREIGN-LANGUAGES ===
// === PACKAGES ===
.packages {
    .section-outer {
        padding-bottom: 0px;
    }
    &-wrapper {
        // padding-bottom: 140px;
        //height: 457px;
    }
    &__top {
        text-align: center;
        margin-bottom: 87px;
        &-title {}
        &-text {}
    }
}

.packages__content {
    display: flex;
    justify-content: space-around;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        transform: translateY(-50%);
        background-color: #61B5A9;
        z-index: -1;
        border-radius: 2px;
    }
    &-item {
        &--active {
            .packages__content-item-circle {
                border-color: #689C9A;
                background-color: #689C9A;
                box-shadow: 0px 0px 10px 0px rgba(#689C9A, 1);
                &--checked {
                    box-shadow: 0px 0px 10px 0px rgba(#236967, 1);
                    border-color: #236967;
                    background-color: #236967;
                }
            }
            .packages__content-item-dropdown {
                opacity: 1;
                visibility: visible;
            }
        }
        position: relative;
        &__box {}
        &-circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid #61B5A9;
            cursor: pointer;
            transition: $transition;
            background-color: $color-white;
        }
        &-title,
        &-subtitle {
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            position: absolute;
            bottom: -66px;
            left: 0;
            white-space: nowrap;
            transform: translateX(calc(-50% + 20px));
            text-align: center;
            &--view-training {
                max-width: 122px;
            }
        }
        &-dropdown {
            z-index: 10;
            position: absolute;
            top: calc(100% + 100px);
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: $transition;
            background-color: #FFECA0;
            border-radius: 20px;
            padding: 30px;
            min-width: 234px;
            max-width: 234px;
            transform: translateX(calc(-50% + 20px));
            &-box {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: -52px;
                    left: 34%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 24px 23px 24px;
                    border-color: transparent transparent #FFECA0 transparent;
                    border-radius: 2px;
                }
                &-list {
                    white-space: nowrap;
                }
            }
        }
        &-duration {
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0.02em;
            text-align: center;
        }
    }
}

.packages__content-item-time {
    display: none;
    &--visible {
        display: block;
        text-align: center;
    }
}

.packages__lesson {
    &-radio {
        &-label {
            cursor: pointer;
            display: block;
            &+& {
                margin-top: 14px;
            }
            input {
                display: none;
            }
        }
        &:checked+.packages__lesson-fake::before {
            opacity: 1;
        }
    }
    &-fake {
        display: inline-block;
        width: $base*3;
        height: $base*3;
        border-radius: 100%;
        border: 1px solid $color-primary-50;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: inherit;
            border: inherit;
            filter: blur(0px);
            top: -1px;
            left: -1px;
        }
        &::before {
            content: "";
            position: absolute;
            width: $base*1.5;
            height: $base*1.5;
            background-color: $color-primary-50;
            border-radius: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: $transition;
        }
    }
    &-text {
        margin-left: 13px;
        font-weight: $fw-light;
        letter-spacing: 0.02em;
        line-height: 26px;
    }
}

.packages__content-item-cards {
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    overflow: hidden;
    transition: all $transition;
    &--active {
        opacity: 1;
        overflow: visible;
        margin-top: 25%;
    }
}

.packages-card {
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 300px;
    width: 100%;
    border-radius: 30px;
    background-color: #FFFBED;
    &__wrapper {
        padding: 0px 50px 62px 64px;
        min-height: 440px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__time {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 14px;
    }
    &__price {
        @include NextArt;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 40px;
        letter-spacing: 0.02em;
    }
    &__btn {}
}

// === / PACKAGES ===
// === ARRIVE ===
.arrive {
    .section-inner {
        max-width: $base*243.75;
    }
    &-wrapper {}
    .title {
        margin-bottom: $base*10;
    }
    &-items {
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        display: flex;
        align-items: center;
        width: 50%;
        &:nth-child(odd) {
            padding-right: $base*25;
        }
        &__photo {}
        &__text {
            font-weight: $fw-medium;
            font-size: $fs-m;
            line-height: $base*7.5;
            color: $color-secondary-200;
            margin-left: $base*8.25;
        }
    }
}

// === / ARRIVE ===
// === IMAGINE ===
.imagine {
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-photo {
        max-width: $base*111.5;
        width: 100%;
        &__inner {
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            height: $base*86.25;
            img {
                position: absolute;
                top: $base*4.5;
                left: $base*5;
                border-radius: $base*48;
                border: 3px solid $color-secondary-100;
                max-width: $base*101.5;
                width: 100%;
                max-height: $base*76.5;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-info {
        max-width: $base*111.25;
        margin-left: $base*22;
        &__text {
            color: $color-secondary-200;
            font-weight: $fw-light;
            line-height: 26px;
        }
    }
}

// === / IMAGINE ===
// === SHALL ===
.shall {
    .section-inner {
        max-width: $base*218.5;
    }
    &-wrapper {}
    &-top {}
    .title {
        text-align: center;
        margin-bottom: $base*12.5;
    }
    &-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        &__number {
            @include NextArt;
            font-weight: $fw-heavy;
            font-size: 40px;
            line-height: 34px;
            letter-spacing: 0.02em;
            color: $color-white;
            width: $base*17.5;
            height: $base*17.5;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            margin-bottom: $base*5;
            &--green {
                background-color: #236967;
            }
            &--yellow {
                background-color: #FFCC1A;
            }
            &--orange {
                background-color: #FC8B4C;
            }
            &--red {
                background-color: #FE7167;
            }
        }
        &__text {
            text-align: center;
            font-weight: $fw-medium;
            font-size: $fs-m;
            line-height: 30px;
            color: $color-secondary-200;
        }
    }
}

// === / SHALL ===
// === INTELLIGIBLY ===
.intelligibly {
    &-wrapper {
        background: $color-secondary-50;
        border-radius: 70px;
        padding: 100px 100px;
    }
    &-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &-info {
        max-width: 437px;
        width: 100%;
        &__title {}
        &__text {
            margin-bottom: 40px;
        }
        &__button {}
    }
    &-photo {
        max-width: 290px;
        width: 100%;
        &__inner {
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            height: 286px;
            img {
                position: absolute;
                top: 32px;
                left: 30px;
                border: 3px solid #FDE9D4;
                border-radius: 50px;
                max-width: 222px;
                width: 100%;
                max-height: 222px;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

// === / INTELLIGIBLY ===
// === FOOTER ===
.footer {
    background-color: $color-secondary-50;
    border-radius: $base*17.5 $base*17.5 0px 0px;
    &__inner {
        padding: $base*16.25 0px $base*17.25 0px;
    }
}

.footer__items {
    margin-bottom: $base*12.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__item {
    &--contact {
        text-align: right;
        max-width: $base*40.75;
    }
    &--logo {
        margin: 0 auto;
        text-align: center;
    }
    &--nav {
        .footer__item-list-link a {
            transition: all $transition;
            &:hover {
                color: $color-primary-50;
            }
        }
    }
    &-title {
        margin-bottom: $base*4.25;
        font-weight: $fw-medium;
        font-size: $fs-m;
        line-height: $base*7.5;
        color: $color-black;
    }
    &-list {
        font-weight: 300;
        font-size: $fs-s;
        line-height: $base*6.5;
        letter-spacing: 0.02em;
        color: $color-secondary-200;
        &-link {
            &+& {
                margin-top: $base*3.5;
            }
        }
    }
    &-logo {
        margin-bottom: $base*5;
    }
    &-social {
        margin-bottom: $base*7.5;
        &-link {
            &+& {
                margin-left: $base*6.5;
            }
            path {
                transition: all $transition;
            }
            &:hover path {
                stroke: $color-primary-50;
            }
        }
    }
}

.footer__inner-copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: $fs-xs;
    line-height: $base*6.5;
    letter-spacing: 0.02em;
    color: $color-secondary-200;
}

// === / FOOTER ===
@import '_media';